// Variables
// Color
$black: #2a2a2a;
$white: #fff;
$orange: #F1A008;
$oangeStrong: #F25E08;
$yellow: #F1E306;
$green: #0AB88A;
// Fontsize
$fsize14: 14px;
$fsize18: 18px;
$fsize36: 36px;
$fsize64: 64px;
// Fontweight
$fweight400: 400;
$fweight500: 500;
$fweight600: 600;
$fweight700: 700;
// Variables: END ============
// About
.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    // About Left
    .about-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 60px;
        img {
            animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            @keyframes swing-in-top-fwd {
                0% {
                    transform: rotateX(-100deg);
                    transform-origin: top;
                    opacity: 0;
                }
                100% {
                    transform: rotateX(0deg);
                    transform-origin: top;
                    opacity: 1;
                }
            }
        }
        .about-brand {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            .brand-title {
                font-size: $fsize36;
                font-weight: $fweight500;
                color: $green;
                margin-bottom: 20px;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                @keyframes tracking-in-expand {
                    0% {
                        letter-spacing: -0.5em;
                        opacity: 0;
                    }
                    40% {
                        opacity: 0.6;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
            .brand-subtitle {
                font-size: $fsize18;
                font-weight: $fweight400;
                color: $white;
                text-align: justify;
                animation: opacity-text ease-in-out 2s both;
                @keyframes opacity-text {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
            }
        }
    }
    // About Right  
    .about-right {
        position: relative;
        animation: roll-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        @keyframes roll-in-blurred-left {
            0% {
                transform: translateX(-1000px) rotate(-720deg);
                filter: blur(50px);
                opacity: 0;
            }
            100% {
                transform: translateX(0) rotate(0deg);
                filter: blur(0);
                opacity: 1;
            }
        }
        .img-tshirt {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    // Social Media
    .social-media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 50px;
        left: 0;
        .social-item {
            padding: 0 20px;
            .social-link {
                svg {
                    fill: $white;
                }
            }
        }
    }
}

// About: END ================